@import "https://necolas.github.io/normalize.css/latest/normalize.css";
@import "https://necolas.github.io/normalize.css/latest/normalize.css";
@import "https://fonts.googleapis.com/css2?family=Jua&family=Junge&display=swap";
:root {
  --main-font-color: #d12944;
  --additional-font-color: #fff;
  --items-font-color: #000c;
  --main-background-color: #ddc9a780;
  --button-font-color: #ffffffe6;
  --box-shadow-input-color: #00000040;
  --border-input-color: #0006;
  --correct-font-color: #008000df;
  --main-font-family: "Jua", sans-serif;
  --add-font-family: "Junge", serif;
}

body {
  color: var(--main-font-color);
  font-style: normal;
  font-weight: 400;
  font-family: var(--main-font-family);
}

.header__container_color {
  background-color: var(--additional-font-color);
}

.header__container {
  width: 90vw;
  height: 20vh;
  color: var(--main-font-color);
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  display: flex;
}

.logo__img {
  width: 70%;
}

.nav {
  align-items: center;
  display: flex;
}

.menu__list {
  width: 70vw;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
  display: inline-flex;
}

.menu__link {
  color: var(--main-font-color);
  font-size: 1.5rem;
  text-decoration: none;
}

.menu__item {
  align-items: center;
  display: inline-flex;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__link_button {
  background: var(--additional-font-color);
  cursor: pointer;
  border: none;
  padding: 0;
}

.login__input {
  border: .5px solid var(--box-shadow-input-color);
  box-shadow: 0px 1px 1px var(--box-shadow-input-color);
  color: var(--border-input-color);
  border-radius: 5px;
  padding: 5px;
}

.login__input:first-child {
  margin-bottom: 2%;
  margin-right: .2%;
}

.button_color {
  color: var(--border-input-color);
}

.form label {
  display: inline-flex;
}

.login__form {
  width: 36vw;
  height: 15vh;
  border-radius: 5px;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 480px), screen and (min-width: 481px) and (max-width: 1023px), screen and (min-width: 1024px) and (max-width: 1200px) {
  .header__container {
    height: 40%;
  }

  .logo__img {
    width: 100%;
    margin-top: 100%;
  }

  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
  }

  .menu__link {
    font-size: 1rem;
  }

  .login__form {
    height: 2vh;
    width: 90vw;
    border: none;
    justify-content: space-around;
    margin-top: 18%;
    margin-bottom: 5%;
    padding: 0;
    display: inline-flex;
  }

  .form {
    margin-top: -18%;
    margin-right: 3%;
  }

  .login__input {
    width: 44vw;
    height: 3vh;
    padding: 0;
    font-size: .7rem;
  }

  .login__input:first-child {
    margin: 0;
  }

  .button_color {
    font-size: .7rem;
  }

  .wrong_login_email_message {
    margin-top: -14%;
    font-size: .7rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
  .button_color {
    font-size: 1.2rem;
  }

  .form {
    margin-top: -14%;
  }

  .login__input {
    font-size: 1.2rem;
  }

  .menu__link {
    font-size: 1.8rem;
  }

  .wrong_login_email_message {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .logo__img {
    width: 90%;
    margin-top: 55%;
  }

  .button_color {
    font-size: 1.5rem;
  }

  .form {
    margin-top: -12%;
  }

  .login__input {
    font-size: 1.5rem;
  }

  .menu__link {
    font-size: 2rem;
  }

  .wrong_login_email_message {
    font-size: 1.5rem;
  }
}



body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.main__section {
  height: 85vh;
  width: 100%;
  background: url("strawberries.d39a8d37.jpg") center / cover no-repeat;
  overflow: hidden;
}

.slogan {
  font-family: var(--add-font-family);
  text-align: center;
  letter-spacing: .07em;
  color: var(--additional-font-color);
  text-shadow: 2px 0 2px #000, 0 2px 2px #000, -2px 0 2px #000, 0 -2px 2px #000;
  margin-top: 6rem;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 85px;
}

.result__section {
  overflow: hidden;
}

.search__container {
  width: 30%;
  justify-content: center;
  margin: 10rem auto 0;
  display: flex;
}

.search__form {
  gap: 1rem;
  display: flex;
}

.custom-input {
  border-radius: 10px;
  position: relative;
}

.custom-input:before {
  content: "";
  width: 35px;
  height: 35px;
  background: url("search.160a16ac.svg") 0 0 / cover no-repeat;
  margin: auto 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
}

.search__input {
  width: 25rem;
  box-shadow: 0px 4px 4px var(--box-shadow-input-color), 0px 4px 4pxvar(--box-shadow-input-color), 0px 4px 4px var(--box-shadow-input-color);
  vertical-align: middle;
  color: #504e4e;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 1rem;
  font-size: 1.875rem;
}

.search__button {
  background: var(--main-font-color);
  color: var(--button-font-color);
  box-shadow: 0px 4px 4px var(--box-shadow-input-color), 0px 4px 4pxvar(--box-shadow-input-color), 0px 4px 4px var(--box-shadow-input-color);
  vertical-align: middle;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin: 0 auto;
  padding: .65rem;
  font-size: 2.5rem;
}

.search__button:hover {
  transition: all .5s;
  transform: scale(.99);
}

.error_message {
  text-align: center;
  color: var(--additional-font-color);
  text-shadow: 2px 0 2px #000, 0 2px 2px #000, -2px 0 2px #000, 0 -2px 2px #000;
  letter-spacing: .2em;
  font-size: 2rem;
}

.hidden_arrow {
  width: 50px;
  display: none;
  position: absolute;
  bottom: 5%;
  left: 45%;
}

#result__section {
  background-color: var(--main-background-color);
}

.result__container {
  max-width: 100%;
  grid-gap: 25px;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;
  padding: 50px 0;
  display: flex;
}

.result__item {
  max-width: 450px;
  box-sizing: border-box;
  align-content: center;
  padding: 15px;
  overflow: hidden;
}

.result__item img {
  width: 450px;
  border-radius: 20px;
}

.item__details {
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  display: grid;
}

.details {
  color: var(--items-font-color);
  font-size: 1rem;
  line-height: 25px;
  display: block;
}

.view-button {
  width: 130px;
  background: var(--main-font-color);
  box-shadow: 0px 4px 4px var(--box-shadow-input-color);
  color: var(--button-font-color);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  justify-content: center;
  justify-self: end;
  padding: 10px 0;
  display: flex;
}

.view-button:hover {
  box-shadow: 0px 2px 2px var(--box-shadow-input-color);
  transition: all .5s;
  transform: scale(.99);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .slogan {
    font-size: 48px;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .slogan {
    font-size: 36px;
  }

  .search__input {
    width: 14rem;
    padding: .4rem;
    font-size: 1.25rem;
  }

  .search__button {
    padding: .3rem;
    font-size: 1.25rem;
  }

  .search__container {
    margin: 3rem auto 0;
  }

  .custom-input:before {
    width: 25px;
    height: 25px;
  }

  .error_message {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 359px) {
  .slogan {
    margin-top: 4rem;
    font-size: 23px;
  }

  .search__input {
    width: 10rem;
    padding: .4rem;
    font-size: 1rem;
  }

  .search__button {
    padding: .3rem;
    font-size: 1rem;
  }

  .search__container {
    margin: 5rem auto 0;
  }

  .custom-input:before {
    display: none;
  }

  .error_message {
    font-size: 1rem;
  }

  .view-button {
    width: 100px;
    padding: 10px 0;
    font-size: 1rem;
  }

  .details {
    font-size: .8rem;
    line-height: 20px;
  }
}

@media screen and (max-height: 757px) and (min-width: 767px) {
  .search__container {
    margin: 4rem auto 0;
  }
}

.footer__container_color {
  background-color: var(--additional-font-color);
}

.footer__container {
  width: 90vw;
  height: 15vh;
  color: var(--main-font-color);
  align-items: center;
  margin: 0 auto;
}

.logo_footer {
  text-align: center;
}

.logo__img_footer {
  width: 7%;
}

.copyright {
  text-align: center;
  margin-top: 0;
  font-size: 1rem;
}

@media screen and (max-width: 1023px) {
  .footer__container {
    height: 10vh;
  }

  .copyright {
    font-size: .7rem;
  }
}



/*# sourceMappingURL=index.a2599df0.css.map */
