@media print {
    
body {
    margin: 5px;
    color: #000;
    
}
.header__container_color, 
.footer__container_color{
    display: none;
}
.recipe__container {
    padding-bottom: 30px;
}
.smallscreen {
    display: block;
    
}
.bigscreen {
    display: none;
} 
.recipe__food-img {
    width: 35vw;
    max-width:600px;
    min-width:250px;
    border-radius: 20px;
}
.recipe__media,.recipe__info {
    margin: 30px 15px 15px 0;
}
.recipe__info {
    margin: 30px 0 30px 15px;
    flex-grow: 3;
}
.recipe__ingredients {
    margin: 0;
}
.recipe__links {
    display: none;
}
.recipe-big {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
} 