/* general styles */

/* normalize.css */
@import url(https://necolas.github.io/normalize.css/latest/normalize.css);

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Junge&display=swap');

body {
    font-style: normal;
    font-weight: 400;
    color: var(--main-font-color);
    font-family: var(--main-font-family);
}