body {
    overflow-x: hidden;
}

.main__section {
    height: 90vh;
    width: 100vw;
    background: url(../img/image_main.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.slogan {
    margin-top: 6rem;
    font-family: var(--add-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 85px;
    text-align: center;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    text-shadow: 2px 0 2px #000,
        0 2px 2px #000,
        -2px 0 2px #000,
        0 -2px 2px #000;
}

/* search input and button */
.search__container {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 10rem auto;
}

.search__form {
    display: flex;
    gap: 1rem;
}

.custom-input {
    position: relative;
    border-radius: 5px;
}

.custom-input::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto 0;
    width: 35px;
    height: 35px;
    background: url('../img/search.svg') no-repeat;
    background-size: cover;
}

.search__input {
    width: 25rem;
    background-color: #ffff;
    font-size: 1.875rem;
    padding: 1rem 1rem;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    vertical-align: middle;
    color: #504e4e;
}

.search__button {
    background: var(--main-font-color);
    color: rgba(255, 255, 255, 0.9);
    font-size: 2.5rem;
    padding: 0.65rem 0.65rem;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    vertical-align: middle;
    cursor: pointer;
}

.search__button:hover {
    transform: scale(0.99);
    transition: 0.5s;
}

/* result from api*/
.result__section {
    background-color: rgba(221, 201, 167, 0.5);

}

.result__container {
    padding-top: 50px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem;
    grid-gap: 25px;
}

.result__item {
    max-width: 450px;
    align-content: center;
    padding: 15px;
    overflow: hidden;
}

.result__item img {
    max-width: 100%;
    width: 400px;
}

.item__details {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.details {
    display: block;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    line-height: 25px;
}

.view-button {
    display: flex;
    width: 130px;
    padding: 10px 0;
    background: #D12944;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
}

.view-button:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    transform: scale(0.99);
    transition: 0.5s;
}

.view-button a {
    text-decoration: none;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.25rem;
}