.main__section {
    height: 90vh;
    width: 100vw;
    background: url(../img/image_main.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.slogan {
    margin-top: 6rem;
    font-family: var(--add-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 85px;
    text-align: center;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    text-shadow: 2px 0 2px #000,
        0 2px 2px #000,
        -2px 0 2px #000,
        0 -2px 2px #000;
}

/* search input and button */
.search__container {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 10rem auto;
}

.search__form {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1rem;
}

.castom-input {
    position: relative;
}

.castom-input::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto 0;
    width: 35px;
    height: 35px;
    background: url('../img/search.svg') no-repeat;
    background-size: cover;
}

.search__input {
    background-color: #ffff;
    font-size: 1.875rem;
    padding: 1rem 1rem;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    vertical-align: middle;
    color: #504e4e;
}

.search__button {
    background: var(--main-font-color);
    color: rgba(255, 255, 255, 0.9);
    font-size: 2.5rem;
    padding: 0.65rem 0.65rem;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    vertical-align: middle;
    cursor: pointer;
}

/* result from api*/

.result__container {
    margin-top: 50px;
    width: 100%;
    grid-template: auto/repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 25px;
    justify-items: center;
}