/* media queries for index.html */

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .slogan {
        font-size: 48px;
    }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
    .slogan {
        font-size: 36px;
    }

    .search__input {
        width: 14rem;
        font-size: 1.25rem;
        padding: 0.4rem 0.4rem;
    }

    .search__button {
        font-size: 1.25rem;
        padding: 0.3rem 0.3rem;
    }

    .search__container {
        margin: 3rem auto 0 auto;
    }

    .custom-input::before {
        width: 25px;
        height: 25px;
    }

    .error_message {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 359px) {
    .slogan {
        font-size: 23px;
        margin-top: 4rem;
    }

    .search__input {
        width: 10rem;
        font-size: 1rem;
        padding: 0.4rem 0.4rem;
    }

    .search__button {
        font-size: 1rem;
        padding: 0.3rem 0.3rem;
    }

    .search__container {
        margin: 5rem auto 0 auto;
    }

    .custom-input::before {
        display: none;
    }

    .error_message {
        font-size: 1rem;
    }

    .view-button {
        width: 100px;
        padding: 10px 0;
        font-size: 1rem;
    }

    .details {
        font-size: 0.8rem;
        line-height: 20px;
    }
}

@media screen and (max-height: 757px) and (min-width: 767px) {

    .search__container {
        margin: 4rem auto 0 auto;
    }

}