body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.main__section {
    height: 85vh;
    width: 100%;
    background: url(../img/strawberries.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.slogan {
    margin-top: 6rem;
    font-family: var(--add-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 85px;
    text-align: center;
    letter-spacing: 0.07em;
    color: var(--additional-font-color);
    text-shadow: 2px 0 2px #000,
        0 2px 2px #000,
        -2px 0 2px #000,
        0 -2px 2px #000;
}

/* search input and button */
.result__section {
    overflow-x: hidden;
    overflow-y: hidden;
}

.search__container {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 10rem auto 0 auto;
}

.search__form {
    display: flex;
    gap: 1rem;
}

.custom-input {
    position: relative;
    border-radius: 10px;
}

.custom-input::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto 0;
    width: 35px;
    height: 35px;
    background: url('../img/search.svg') no-repeat;
    background-size: cover;
}

.search__input {
    width: 25rem;
    background-color: #ffff;
    font-size: 1.875rem;
    padding: 1rem 1rem;
    border-radius: 10px;
    box-shadow: 0px 4px 4px var(--box-shadow-input-color), 0px 4px 4pxvar(--box-shadow-input-color), 0px 4px 4px var(--box-shadow-input-color);
    border: none;
    outline: none;
    vertical-align: middle;
    color: #504e4e;
}

.search__button {
    background: var(--main-font-color);
    color: var(--button-font-color);
    font-size: 2.5rem;
    padding: 0.65rem 0.65rem;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 4px 4px var(--box-shadow-input-color), 0px 4px 4pxvar(--box-shadow-input-color), 0px 4px 4px var(--box-shadow-input-color);
    border: none;
    vertical-align: middle;
    cursor: pointer;
}

.search__button:hover {
    transform: scale(0.99);
    transition: 0.5s;
}

.error_message {
    text-align: center;
    font-size: 2rem;
    color: var(--additional-font-color);
    text-shadow: 2px 0 2px #000,
        0 2px 2px #000,
        -2px 0 2px #000,
        0 -2px 2px #000;
    letter-spacing: 0.2em;
}

.hidden_arrow {
    display: none;
    position: absolute;
    width: 50px;
    left: 45%;
    bottom: 5%;
}

/* result from api*/
#result__section {
    background-color: var(--main-background-color);
}

.result__container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem;
    grid-gap: 25px;
    padding: 50px 0;
}

.result__item {
    max-width: 450px;
    align-content: center;
    padding: 15px;
    overflow: hidden;
    box-sizing: border-box;
}

.result__item img {
    width: 450px;
    border-radius: 20px;
}

.item__details {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.details {
    display: block;
    color: var(--items-font-color);
    font-size: 1rem;
    line-height: 25px;
}

.view-button {
    display: flex;
    width: 130px;
    padding: 10px 0;
    background: var(--main-font-color);
    box-shadow: 0px 4px 4px var(--box-shadow-input-color);
    border-radius: 10px;
    border: none;
    justify-self: end;
    color: var(--button-font-color);
    justify-content: center;
    cursor: pointer;
}

.view-button:hover {
    box-shadow: 0px 2px 2px var(--box-shadow-input-color);
    transform: scale(0.99);
    transition: 0.5s;
}