@import url(../../assets/general/general.css);
@import url(../../assets/general/variables.css);

.footer__container_color {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: var(--additional-font-color);
}

.footer__container {
  text-align: center;
}

.logo__img_footer {
  width: 50%;
}

.copyright {
  margin: 0;
  text-align: center;
  font-size: 1rem;
}

@media screen and (max-width: 1023px) {
  .copyright {
    font-size: 0.7rem;
  }
}
