.header__container_color {
    background-color: var(--additional-font-color);
}
.header__container {
    display: flex;
    width: 90vw;
    height: 20vh;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    color: var(--main-font-color);
}
.logo__img {
    width: 70%;
}
.nav {
    display: flex;
    align-items: center;
}
.menu__list {
    display: inline-flex;
    width: 70vw;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
}
.menu__link {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--main-font-color);
}
.menu__item {
    display: inline-flex;
    align-items: center;
}
.menu__link:hover {
    text-decoration: underline;
}
.menu__link_button {
    padding: 0;
    background: var(--additional-font-color);
    border: none;
    cursor: pointer;
}
.login__input {
    padding: 5px;
    border: 0.5px solid var(--box-shadow-input-color);
    box-shadow: 0px 1px 1px var(--box-shadow-input-color);
    border-radius: 5px;
    color: var(--border-input-color);
}
.login__input:first-child {
    margin-right: 0.2%;
    margin-bottom: 2%;
}
.button_color {
    color: var(--border-input-color);
}
.form label {
    display: inline-flex;
}
.login__form {
    display: flex;
    width: 36vw;
    height: 15vh; 
    align-items: center;
    border-radius: 5px; 
}
@media screen and (max-width: 480px), screen and (min-width: 481px) and (max-width: 1023px), screen and (min-width: 1024px) and (max-width: 1200px) {
    .header__container {
        height: 40%;
    }
    .logo__img {
        margin-top: 100%;
        width: 100%;
    }
    .menu__list {
        flex-direction: column;
        align-items: flex-end;
        margin: 0;
    }
    .menu__link {
        font-size: 1rem;
    }
    .login__form {
        display: inline-flex;
        justify-content: space-around;
        height: 2vh;
        width: 90vw;
        margin-top: 18%;
        margin-bottom: 5%;
        padding: 0;
        border: none
    }
    .form {
        margin-top: -18%;
        margin-right: 3%;
    }
    .login__input {
        width: 44vw;
        height: 3vh;
        padding: 0;
        font-size: 0.7rem;
    }
    .login__input:first-child {
        margin: 0;
    }
    .button_color {
        font-size: 0.7rem;
    }
    .wrong_login_email_message {
        font-size: 0.7rem;
        margin-top: -14%;
    }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
    .button_color {
        font-size: 1.2rem;
    }
    .form {
        margin-top: -14%;
    }
    .login__input {
        font-size: 1.2rem;
    }
    .menu__link {
        font-size: 1.8rem;
    }
    .wrong_login_email_message {
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .logo__img {
        margin-top: 55%;
        width: 90%;
    }
    .button_color {
        font-size: 1.5rem;
    }
    .form {
        margin-top: -12%;
    }
    .login__input {
        font-size: 1.5rem;
    }
    .menu__link {
        font-size: 2rem;
    }
    .wrong_login_email_message {
        font-size: 1.5rem;
    }
}