/* media queries for fav_page.html */

@media screen and (min-width: 768px) and (max-width: 1200px) {}

@media screen and (max-width: 992px) {
    .result__container {
        max-width: 100%;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        padding-bottom: 30px;

    }
}

@media screen and (max-width: 665px) {
    .result__container {
        max-width: 100%;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr;
    }

    .result__item {
        margin: 0 auto;
    }
}

@media screen and (max-width: 359px) {

    .result__container {
        max-width: 100%;
        display: grid;
        grid-gap: 15px;

        padding-bottom: 15px;

    }

    .view-button {
        width: 100px;
        padding: 10px 0;
        font-size: 1rem;
    }

    .recipe__marker {
        width: 40px;
    }

    .recipe__marker-btn {
        width: 40px;
    }

    .details {
        font-size: 0.8rem;
        line-height: 20px;
    }
}