body {
  overflow-x: hidden;
  font-family: var(--main-font-family);
  color: var(--items-font-color);
}

img {
  max-width: 100%;
}

.favourites-container {
  min-height: 62vh;
  padding-top: 15px;
  background-color: var(--main-background-color);
}

.welcome-msg {
  margin: 0 5%;
  background: var(--name-background-color);
}

.welcome-msg,
.fav_title {
  text-align: center;
}

span {
  color: var(--items-font-color);
}

.result__section {
  margin: 10px auto;
}

.result__container {
  display: grid;
  max-width: 100%;
  padding-bottom: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 30px;
}

.result__item {
  max-width: 450px;
  padding: 15px;
  box-sizing: border-box;
  align-content: center;
  overflow: hidden;
}

.result__item img {
  width: 450px;
  margin: 0 auto;
  border-radius: 20px;
}

.item__details {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  justify-content: space-between;
  align-items: center;
}

.details {
  display: block;
  font-size: 1rem;
  line-height: 25px;
  color: var(--items-font-color);
}

.recipe__marker {
  width: 38px;
  justify-self: center;
}

.recipe__marker-btn {
  width: 50px;
  border: none;
  background: transparent;
}

.view-button {
  display: flex;
  width: 130px;
  padding: 10px 0;
  justify-self: end;
  justify-content: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: var(--view-button-box-shadow);
  color: var(--button-font-color);
  background: var(--main-font-color);
}

.view-button:hover {
  transform: scale(0.99);
  transition: 0.5s;
  box-shadow: var(--view-button-box-shadow-hover);
}
