body {
    overflow-x: hidden;
    font-family: var(--main-font-family);
    color: var(--items-font-color);
}

img {
    max-width: 100%;
}

.favourites-container {
    background-color: var(--main-background-color);
    min-height: 62vh;
    padding-top: 15px;
}

.welcome-msg,
.fav_title {
    text-align: center;
}

/* result from local storage*/
.result__section {
    margin: 10px auto;
}

.result__container {
    width: 100%;
    /* display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
   */
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-bottom: 30px;
    justify-items: center;
    width: 100%;
    gap: 30px;
    /*display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-gap: 30px; */
}

.result__item {
    /* margin: 0 auto; */
    /* max-width: 400px; */
    max-width: 450px;
    box-sizing: border-box;
    align-content: center;
    overflow: hidden;
    padding: 15px;

}

.result__item img {
    margin: 0 auto;
    border-radius: 20px;
    width: 450px;
}

.item__details {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    justify-content: space-between;
    align-items: center;
}

.details {
    display: block;
    color: var(--items-font-color);
    font-size: 1rem;
    line-height: 25px;
}

.recipe__marker {
    width: 38px;
    justify-self: center;
}

.recipe__marker-btn {
    width: 50px;
    background: transparent;
    border: none;
}

.view-button {
    display: flex;
    width: 130px;
    padding: 10px 0;
    background: var(--main-font-color);
    box-shadow: 0px 4px 4px var(--box-shadow-input-color);
    border-radius: 10px;
    border: none;
    justify-self: end;
    color: var(--button-font-color);
    justify-content: center;
    cursor: pointer;
}

.view-button:hover {
    box-shadow: 0px 2px 2px var(--box-shadow-input-color);
    transform: scale(0.99);
    transition: 0.5s;
}