body {
    background-image: url(../images/registration-form-background.jpeg);
    background-size: cover;
    color: var(--items-font-color);
}
h1, div h2 {
    text-align: center;
    color: var(--additional-font-color);
}
h3 {
    color: var(--items-font-color);
}
.container {
    max-width: 60%;
    margin: 3% auto;
}
form {
    margin: 2% 0;
    border-radius: 5px;
    background-color: var(--additional-font-color);
}
.form__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divider:empty {
    height: 25px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .1), rgba(0, 0, 0, .7));
}
.input1, .input2, 
.input3, 
.input4, .input5,
.question, .answer {
    display: block;
    margin-top: 1%;
    box-shadow: 0px 1px 1px var(--box-shadow-input-color);
    border-radius: 5px;
    border: 0.5px solid var(--box-shadow-input-color);
}
.surname, .name,
.email, .password1,
.password2, .security-question,
.security-answer {
    margin-top: 3%;
}
.input__box {
    display: grid;
    grid-template-columns: 65% 35%;
}
.input__box p {
    margin-left: -55%;
    margin-top: 14%;
    font-size: 0.8rem;
}
.message_color {
    width: 47%;
    margin-top: 1%;
    font-size: 0.9rem;
    color: var(--main-font-color);
}
.message_color_1 {
    width: 47%;
    margin-top: 1%;
    font-size: 0.9rem;
    color: var(--correct-font-color);
}
.inputs {
    padding: 5% 0 5% 4%;
}
.inputs input {
    min-width: 65%;
    padding: 3% 0 3% 2%;
    font-size: 1rem;
}
.form__footer {
    margin-top: 5%;
}
.register__button {
    padding: 2% 6%;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: var(--main-font-color);
}
@media screen and (max-width: 768px) {
    body {
        background-image: url(../images/mobile-background.png);
        background-size: contain;
    }
    .form__header {
        height: 43vh;
    }
    .container {
        max-width: 100%;
        margin: 36% auto;
    }
    div h2 {
        font-size: 2rem;
    }
    .input__box {
        grid-template-columns: 100%;
    }
    .input__box p {
        margin-left: 0;
        margin-top: 0;
    }
    .inputs input {
        min-width: 90%;
    }
}