@import "https://necolas.github.io/normalize.css/latest/normalize.css";
@import "https://fonts.googleapis.com/css2?family=Jua&family=Junge&display=swap";
:root {
  --main-font-color: #d12944;
  --additional-font-color: #fff;
  --items-font-color: #000c;
  --main-background-color: #ddc9a780;
  --button-font-color: #ffffffe6;
  --box-shadow-input-color: #00000040;
  --border-input-color: #0006;
  --correct-font-color: #008000df;
  --main-font-family: "Jua", sans-serif;
  --add-font-family: "Junge", serif;
}

body {
  color: var(--main-font-color);
  font-style: normal;
  font-weight: 400;
  font-family: var(--main-font-family);
}

.header__container_color {
  background-color: var(--additional-font-color);
}

.header__container {
  width: 90vw;
  height: 20vh;
  color: var(--main-font-color);
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  display: flex;
}

.logo__img {
  width: 70%;
}

.nav {
  align-items: center;
  display: flex;
}

.menu__list {
  width: 70vw;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
  display: inline-flex;
}

.menu__link {
  color: var(--main-font-color);
  font-size: 1.5rem;
  text-decoration: none;
}

.menu__item {
  align-items: center;
  display: inline-flex;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__link_button {
  background: var(--additional-font-color);
  cursor: pointer;
  border: none;
  padding: 0;
}

.login__input {
  border: .5px solid var(--box-shadow-input-color);
  box-shadow: 0px 1px 1px var(--box-shadow-input-color);
  color: var(--border-input-color);
  border-radius: 5px;
  padding: 5px;
}

.login__input:first-child {
  margin-bottom: 2%;
  margin-right: .2%;
}

.button_color {
  color: var(--border-input-color);
}

.form label {
  display: inline-flex;
}

.login__form {
  width: 36vw;
  height: 15vh;
  border-radius: 5px;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 480px), screen and (min-width: 481px) and (max-width: 1023px), screen and (min-width: 1024px) and (max-width: 1200px) {
  .header__container {
    height: 40%;
  }

  .logo__img {
    width: 100%;
    margin-top: 100%;
  }

  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
  }

  .menu__link {
    font-size: 1rem;
  }

  .login__form {
    height: 2vh;
    width: 90vw;
    border: none;
    justify-content: space-around;
    margin-top: 18%;
    margin-bottom: 5%;
    padding: 0;
    display: inline-flex;
  }

  .form {
    margin-top: -18%;
    margin-right: 3%;
  }

  .login__input {
    width: 44vw;
    height: 3vh;
    padding: 0;
    font-size: .7rem;
  }

  .login__input:first-child {
    margin: 0;
  }

  .button_color {
    font-size: .7rem;
  }

  .wrong_login_email_message {
    margin-top: -14%;
    font-size: .7rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
  .button_color {
    font-size: 1.2rem;
  }

  .form {
    margin-top: -14%;
  }

  .login__input {
    font-size: 1.2rem;
  }

  .menu__link {
    font-size: 1.8rem;
  }

  .wrong_login_email_message {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .logo__img {
    width: 90%;
    margin-top: 55%;
  }

  .button_color {
    font-size: 1.5rem;
  }

  .form {
    margin-top: -12%;
  }

  .login__input {
    font-size: 1.5rem;
  }

  .menu__link {
    font-size: 2rem;
  }

  .wrong_login_email_message {
    font-size: 1.5rem;
  }
}

.footer__container_color {
  background-color: var(--additional-font-color);
}

.footer__container {
  width: 90vw;
  height: 15vh;
  color: var(--main-font-color);
  align-items: center;
  margin: 0 auto;
}

.logo_footer {
  text-align: center;
}

.logo__img_footer {
  width: 7%;
}

.copyright {
  text-align: center;
  margin-top: 0;
  font-size: 1rem;
}

@media screen and (max-width: 1023px) {
  .footer__container {
    height: 10vh;
  }

  .copyright {
    font-size: .7rem;
  }
}

.recipe {
  color: var(--items-font-color);
  background-color: #dacaae80;
  font-size: 16px;
  font-style: normal;
}

.recipe__container {
  width: 90%;
  margin: 0 auto;
}

.recipe-big {
  justify-content: space-between;
  display: flex;
}

.recipe__media, .recipe__info {
  margin: 30px 15px 15px 0;
}

.recipe__info {
  margin: 30px 0 30px 15px;
}

.recipe__instructions, .recipe__ingredients {
  background-color: #fff;
  border: 1px solid #00000054;
  border-radius: 20px;
  padding: 20px;
}

.recipe__ingredients {
  margin-bottom: 30px;
}

.recipe__instructions {
  line-height: 1.5em;
}

.recipe__instructions p {
  margin: 0;
}

.recipe__food-img {
  width: 35vw;
  max-width: 600px;
  min-width: 350px;
  border-radius: 20px;
}

.recipe__name {
  margin: 10px 0;
  font-size: 30px;
}

.recipe__info-titles {
  margin: 0 0 20px;
  font-size: 25px;
  display: inline;
}

.recipe__food {
  justify-content: space-between;
  display: flex;
}

.recipe__youtube-img {
  width: 40px;
}

.recipe__marker-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  padding: 0;
}

.recipe__ingredients-btn {
  margin-bottom: 8px;
}

.recipe__icon {
  width: 30px;
}

.recipe__title-btn {
  vertical-align: middle;
  margin-left: 10px;
  display: inline;
}

.recipe__name-info p {
  margin: 0;
  font-size: 16px;
}

.recipe__marker {
  margin: 10px;
}

.recipe__marker-btn-img {
  width: 40px;
}

.recipe__instructions-forone {
  margin: 10px 0;
}

.recipe__instructions-forone label {
  display: inline-block;
}

input[type="checkbox"], input[type="radio"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "✔";
  color: #0000;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ccc;
  margin: -5px 20px 0 0;
  font-size: 20px;
  font-weight: 900;
  line-height: 22px;
  transition: color .3s;
  display: inline-block;
}

input[type="checkbox"]:checked + label:before {
  color: #000;
  border-color: #000;
}

.smallscreen {
  display: none;
}

.recipe__message {
  width: 260px;
  text-align: center;
  background-color: #e6c7c7;
  border: 1px solid #999;
  border-radius: 20px;
  padding: 1px;
  display: none;
  position: absolute;
  top: 45px;
  left: 5px;
  box-shadow: 1px 1px 3px #8e2222;
}

.recipe__message p {
  margin: 5px;
}

.recipe__marker-container {
  position: relative;
}

.bigscreen {
  display: block;
}

.modal {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #0006;
  padding-top: 100px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.modal-content {
  width: 30%;
  background-color: #fff;
  border: 5px solid #a22e1f;
  margin: auto;
  padding: 0;
  animation-name: animatetop;
  animation-duration: .4s;
  position: relative;
  box-shadow: 0 4px 8px #0003, 0 6px 20px #00000030;
}

@keyframes animatetop {
  from {
    opacity: 0;
    top: -300px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.modal-header {
  color: #fff;
  background-color: #b02727;
  padding: 2px 16px;
}

.modal-body {
  padding: 2px 16px;
}

.shoplist {
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 992px) {
  .recipe__container {
    padding-bottom: 30px;
  }

  .smallscreen {
    display: block;
  }

  .bigscreen {
    display: none;
  }

  .recipe__food-img {
    width: 100%;
    max-width: 600px;
    min-width: 250px;
    border-radius: 20px;
  }

  .recipe__media, .recipe__info {
    margin: 30px 15px 15px 0;
  }

  .recipe__media {
    max-width: 50%;
  }

  .recipe__info {
    flex-grow: 3;
    margin: 30px 0 30px 15px;
  }

  .recipe__ingredients {
    margin: 0;
  }
}

@media screen and (max-width: 665px) {
  .recipe-big {
    display: block;
  }

  .recipe__media, .recipe__info, .recipe-big {
    margin: 0 0 15px;
  }

  .recipe__media {
    margin-top: 15px;
  }

  .recipe__container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .recipe__food-img {
    width: 100%;
    border-radius: 20px;
  }

  .recipe__marker-printer {
    display: none;
  }

  .recipe__message {
    left: auto;
    right: 0;
  }

  .recipe__media {
    max-width: 100%;
  }

  .modal-content {
    width: 90%;
  }
}

@media print {
  body {
    color: #000;
    margin: 5px;
  }

  .header__container_color, .footer__container_color {
    display: none;
  }

  .recipe__container {
    padding-bottom: 30px;
  }

  .smallscreen {
    display: block;
  }

  .bigscreen {
    display: none;
  }

  .recipe__food-img {
    width: 35vw;
    max-width: 600px;
    min-width: 250px;
    border-radius: 20px;
  }

  .recipe__media, .recipe__info {
    margin: 30px 15px 15px 0;
  }

  .recipe__info {
    flex-grow: 3;
    margin: 30px 0 30px 15px;
  }

  .recipe__ingredients {
    margin: 0;
  }

  .recipe__links {
    display: none;
  }

  .recipe-big {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
}



/*# sourceMappingURL=recipe.c827a381.css.map */
