/* variables and general styles */
@import url(../general_css/variables.css);
@import url(../general_css/general.css);

.footer__container_color {
    background-color: var(--additional-font-color);
}

.footer__container {
    width: 90vw;
    height: 15vh;
    margin: 0 auto;
    align-items: center;
    color: var(--main-font-color);
}

.logo_footer {
    text-align: center;
}

.logo__img_footer {
    width: 7%;
}

.copyright {
    text-align: center;
    margin-top: 0;
    font-size: 1rem;
}
@media screen and (max-width: 1023px) {
    .footer__container {
        height: 10vh;
    }
    .copyright {
        font-size: 0.7rem;
    }
}